<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
</head>

<body>
  <h1>회원가입을 하세요</h1>
  <div>
    <p>아이디 : </p>
    <input id="id" type="text" placeholder="아이디">
    <p>비밀번호 : </p>
    <input id="password" type="password" placeholder="비밀번호">
    <button onclick="requestJoin()">회원가입</button>
  </div>
  <script>
    const requestJoin = () => {
      // ElementById는 해당 id를 가진 태그를 가져온다.
      const idInputTag = document.getElementById('id');

      const passwordInputTag = document.getElementById('password');

      if (idInputTag.value == "") {
        alert('아이디를 입력해주세요.');
        return;
      }

      if (passwordInputTag.value == "") {
        alert('비밀번호를 입력해주세요.');
        return;
      }

      const dto = {
        user: {
          id: idInputTag.value,
          password: passwordInputTag.value
        }
      }

      fetch("/api/v1/auth/join", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(dto)
      })
        // response
        .then(response => response.text())
        .then(result => {
          alert(result);
        });

    }
  </script>
</body>

</html>